

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <ion-icon name="book-outline"></ion-icon>
      <p class="texto-header">N0torius</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="md">
  <h4 class="ion-text-center">Hola {{nombreUsuario}}</h4>
  <p class="texto-simple-content">¿A que curso quieres acceder?</p>
  <div class="lista-cursos">
    <ng-container *ngFor="let curso of cursos">
      <ion-card class="cursos" (click)="irACurso(curso.id)">
        {{curso.nombre}}
      </ion-card>
    </ng-container>
  </div>
  <p class="texto-simple-content">¿Tienes un nuevo curso?</p>
  <ion-card class="crear-curso" (click)="crearCurso()">
    <ion-card-header>
      <ion-card-title class="ion-text-center"><b>Añadir curso nuevo</b></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      ¿Un nuevo curso? Añadelo y comienza a tomar notas y registro sobre tus examenes
    </ion-card-content>
  </ion-card>
  <ion-card class="card-guardar">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Guardar cambios</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
