.card-presentacion{
    border-radius: 0px 20px 50px 20px;
    background-color: #6488a8;
    margin-top: 25px
}
.chip{
    background-color: #f4f4f4;
    color: #1c0d02;
}
ion-label{
    color: #1c0d02;
}